{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de pedidos</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Notas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                <td>{{ order.created_by }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.notes|truncatewords:10 }}</td>
                <td>
                <a href="" class="btn btn-sm btn-outline-primary w-25" target="_blank">
                        Ver
                    </a>
                    <a href="" class="btn btn-sm btn-outline-primary w-25" target="_blank">
                        PDF
                    </a>
                    <a href="" class="btn btn-sm btn-outline-danger w-25" target="_blank">
                        Borrar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
