<!-- blog/templates/blog/blog_detail.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}
<div class="container py-5">
 
  <div class="card shadow-sm border-0">
  
    <div class="card-body">
    <a href="#" class="btn btn-primary-custom btn-sm">{% trans 'Register' %}</a><br>
      <h1 class="card-title display-5 mb-3">{{ post.title }}</h1>
      <p class="text-muted mb-4">
        <strong>{% trans 'Author' %}:</strong> {{ post.author }} |
        <strong>{% trans 'Date' %}:</strong> {{ post.published_at|date:"Y/m/d H:i" }}
      </p>
     

      <div class="card-text fs-5">
        {{ post.content|safe }}
      </div>
      <a href="#" class="btn btn-primary-custom btn-sm">{% trans 'Register' %}</a><br>

      <a href="{% url 'activity_app:activity_list' %}" class="btn btn-outline-success mt-4">
        ← {% trans 'Back to activities' %}
      </a>
    </div>
  </div>
</div>

{% endblock %}
