<!-- blog/templates/blog/blog_detail.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}
<div class="container py-5">
 
  <div class="card shadow-sm border-0">
  
    <div class="card-body">
    
      <h1 class="card-title display-5 mb-3">{{ content.title }}</h1>
      <p class="text-muted mb-4">
        <strong>Por:</strong> {{ content.author }} |
        <strong>Fecha:</strong> {{ content.published_at|date:"Y/m/d H:i" }}
      </p>
     

      {% if content.image %}
        <img src="{{ content.image.url }}" alt="Imagen del artículo"
             class="img-fluid rounded mb-4" style="max-height: 400px; object-fit: cover;">
      {% endif %}

      <div class="card-text fs-5">
        {{ content.content|safe }}
      </div>
      

      <a href="{% url 'gallery_app:gallery_list' %}" class="btn mt-4 bg-bizardia">
        ← {% trans 'Back to activities' %}
      </a>
    </div>
  </div>
</div>

{% endblock %}
