<!-- blog/templates/blog/blog_detail.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}
<div class="container py-5">
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h1 class="card-title display-5 mb-3">{{ content.title }}</h1>
      <p class="text-muted mb-4">
        <strong>{% trans 'Author' %}:</strong> {{ content.author }} |
        <strong>{% trans 'Date' %}:</strong> {{ content.published_at|date:"d M Y" }}
      </p>


      <div class="card-text fs-5">
        {{ content.content|safe }}
      </div>

      <a href="{% url 'history_app:history_list' %}" class="btn mt-4 bg-bizardia">
        ← {% trans 'Back to history' %}
      </a>
    </div>
  </div>
</div>

{% endblock %}
